.promptSuggestions {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);

  button{
    background-color:rgb(142 142 142 / 10%);
    padding: 4px 6px;
  }
  }
  
  .title {
    margin-left:0;
  }
  
  .suggestions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-s);
  }